{% extends 'base.html.twig' %}

{% block body %}
    <style>


        @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
        .Explications {
        overflow-y: scroll;
        max-height: 70vh;
        background-color: rgba(175, 175, 175, 0.15);
    }

        .Explications:hover {
            background-color: rgba(175, 175, 175, 0.6);
            transition: 1s;
        }
    .row {
        margin-top: 12vh;
    }

        a {
            text-decoration: none;
            color: #58b4aa;
        }

        a:hover {
            color: #424242;
        }

        /*.container {*/
        /*    min-height: 100%;*/
        /*}*/

    .spacer
    {clear: both; margin-top: 4vh }

    .spacer:hover {
    transform: scale(110%) translate(20px); transition: 400ms;
    }

    .CategoriesFormulaire {
        font-family: 'Staatliches', cursive;
        font-size: 35px;
        text-decoration: none;
    }

    .carrhey {
        height: 69vh;
        width: 11vw;
        background-color: #dcdcdc;
        position: absolute;
        margin: 13vh 0 0 15vw;
    }


    </style>
    <div class="carrhey"></div>

    <div class="container">
        <div class="row">
            <div class="CategoriesFormulaire col-3">
               <a href="#Permanence">Permanence</a>
               <div class="spacer"> <a href="#TypologieDossier">Typologie Dossier</a></div>
                <div class="spacer"><a href="#Formation">Formation</a></div>
               <div class="spacer"> <a href="#Communications">Communications</a></div>
                <div class="spacer"><a href="#Ateliers">Ateliers</a></div>
                <div class="spacer"><a href="#Representations">Représentations</a></div>
                <div class="spacer"><a href="#ActionsEnJustice">Actions en Justice</a></div>
            </div>
            <div class="Explications col-9">
                <div id="Permanence">
                    <h1>Permanence</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                </div>   <div id="TypologieDossier">
                    <h1>Typologie Dossiers</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                </div>   <div id="Formation">
                    <h1>Formation</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                </div>   <div id="Communications">
                    <h1>Communications</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                </div>   <div id="Ateliers">
                    <h1>Ateliers</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                </div>   <div id="Representations">
                    <h1>Représentations</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                </div>   <div id="ActionsEnJustice">
                    <h1>Actions En Justice</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur blanditiis dignissimos dolorem ea earum enim error esse facere ipsam natus, nemo nulla, quidem quisquam sapiente sed tempore, veritatis.
                </div>

            </div>
        </div>
    </div>


{% endblock %}