{% extends 'base.html.twig' %}

{% block couleur %}
    bgbleu
{% endblock %}


{% block body %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
        .Explications {
            overflow-y: scroll;
            max-height: 63vh;
            background-color: rgba(175, 175, 175, 0.15);
        }
        .Explications:hover {
            background-color: rgba(175, 175, 175, 0.6);
            transition: 1s;
        }
        .row {
            margin-top: 12vh;
        }
        a {
            text-decoration: none;
            color: #59B5AA;
        }
        a:hover {
            color: #424242;
        }
        /*.container {*/
        /*    min-height: 100%;*/
        /*}*/
        .spacer
        {clear: both; margin-top: 2vh }
        .spacer:hover {
            transform: scale(110%) translate(20px); transition: 400ms;
        }
        .CategoriesFormulaire {
            font-family: 'Staatliches', cursive;
            font-size: 35px;
            text-decoration: none;
        }
        #lien_href {text-decoration: none; color: #FFFFFF}

    </style>


    <div class="container">
        <div class="row">
            <div class="CategoriesFormulaire col-3">
                <div class=""> <a href="#Permanence">Permanences</a></div>
                <div class="spacer"> <a href="#Litiges">Litiges</a></div>
                <div class="spacer"><a href="#Formation">Formations</a></div>
                <div class="spacer"> <a href="#Communications">Communications</a></div>
                <div class="spacer"><a href="#Ateliers">Ateliers</a></div>
                <div class="spacer"><a href="#Representations">Représentations</a></div>
                <div class="spacer"><a href="#ActionsEnJustice">Actions en Justice</a></div>
            </div>
            <div class="Explications col-9">
                <div id="Permanence">
                    <h1>Avant-propos :</h1>
                    De façon générale, relève de la consommation Auxances large les thèmes suivants : consommation entre parenthèses assurance, banque, communication électronique…), santé entre parenthèses prévention primaire, litige avec des professionnels de Soin, organisation sanitaire régionale…), environnement entre parenthèses déchets, OGM, santé environnemental, bruit…), Relation bailleur/locataire entre parenthèses contrôle des charges, loyer, caution), copropriété entre parenthèses relation avec le syndic, droits des copropriétaires…), Coût de la scolarité. <br> <br>
                    <h1>Permanences</h1>
                    <b>Heure de permanences</b><br>

                    Sont considérés comme des permanences toutes les permanences de la CSF à partir du moment où :<br>
                    – elles sont annoncées publiquement soit par voie d'affichage, soit par insertion dans des journaux locaux, bulletins municipaux, soit par distribution de tracts ;<br>
                    – la permanence doit annoncer que des litiges relevant de la consommation peuvent être traité, <b>un panneau ou un papier doit indiquer de façon claire à l'entrée de la permanence qu'il y a une permanence consommation ainsi que les horaires d'ouverture.</b><br><br>

                    La plupart des permanences sont des permanences vie quotidienne ou l'ensemble des litiges peuvent être traité. Cependant seuls les permanences qui sont identifiés comme traitant de litiges consommation ou logement peuvent être prise en compte, même si d'autres litiges peuvent être traités.<br>
                    Par exemples, une permanence qui ne traiterait que d'accompagnement scolaire, d'éducation ou de droit familial ne pourrait pas être prise en compte. Par contre un espace accueil famille qui traite les litiges consommation/logement pourra être pris en compte comme permanence consommation.<br><br>
                    <b>Les permanences traitant des litiges consommations doivent avoir un cahier de permanence tenue à jour et des fiches/dossier pour chaque consommateur conseiller.</b><br>
                    Attention ; vous pouvez faire apparaître le nombre de renseignements donnés par téléphone avec un petit topo du renseignement donné, cela donnera une indication aux pouvoirs publics du nombre de personnes que la CSF accueille dans ses différents lieux d'accueil.<br> <br>
                </div><div id="Litiges">
                    <h1>Litiges</h1>
                    Les litiges qui sont pris en compte sont ce qui porte sur un contrat écrit ou réputé écrit, signé ou non, entre un consommateur et un professionnel. Cela englobe les achats au supermarché entre parenthèses contrat non écrit et non signé), les contrats de location immobilière entre parenthèses logement social ou privée), les consultations médicales, hospitalisation… <br> <br>
                    <b>Attention, nous continuons cette année à prendre en compte tous les dossiers ayant trait à l'énergie entre parenthèses eau, gaz, électricité ; problème de facture, de réclamation lié à ces thèmes), merci donc de bien remplir cette case et de s'inspirer de la dernière fiche de synthèse jointe à ce dossier !</b><br> <br>
                    <b>En matière de logement :</b><br>Peuvent être pris en compte les litiges portant sur le contrat, y compris les prestations de services qui en découlent entre parenthèses nettoyage des parties communes, éclairage des parties communes ou des espaces privés extérieur…). <b>Les litiges logement qui ne porte pas sur un contrat ne peuvent pas être comptabilisés</b> : problème de bruit, conflit de voisinage, demande de logement, activité autour des élections HLM… <br> <br>
                    De façon plus globale, <b>les questions sociales ne peuvent pas t'être prise en compte</b> (divorces, demande de logement, demande de papiers) sauf s'il y a un litige sur l'exercice d'un droit économique (non versement de l'APL, des allocations familiales, litiges sur le montant de l'APL…).
                    Les litiges liés à l'emploi ne sont pas pris en compte (litige avec employeur, reconstitution de carrière pour la retraite, désaccord avec les ASSEDIC).<br> <br>
                    <b>Les dossiers de surendettement sont pris en compte. Les activités liées au coût de la scolarité (conférence de presse, article…) Sont pris en compte.</b><br> <br>
                    Pour qu'un litige soit pris en compte, il doit y avoir ouverture d'un dossier/fiche litige est un conseil donnée aux consommateurs (avec trace dans le cahier des permanences). Ce conseil doit être tracé dans le dossier et/ou faire l'objet d'une confirmation écrite le cas échéant.<br> <br>
                    Un litige difficile nécessite l'envoi de trois courriers par la CSF ou deux visites du consommateur ou d'un militant. Tous les autres litiges qui ne rentre pas dans cette catégorie sont considérés comme des litiges simples.<br> <br>
                    Toutes les informations données aux consommateurs (réorientation vers des services ou structure autre que CSF, informations générales, appels téléphoniques) doivent être indiqué dans la case « nombre de consommateurs renseigné par téléphone ». <br> <br>
                    <b>Attention, à partir du moment où vous prenez le dossier, l'adhésion de la famille est obligatoire ! Si elle n'est pas prise, l'association se met hors-la-loi et risque des sanctions en cas de contrôle des autorités.</b> Il faut donc bien demander dans tous les cas l'adhésion de la famille avant de se plonger dans le dossier, sinon, on considère que l'on fait de la concurrence déloyale aux avocats qui risque donc de nous attaquer.<br> <br>
                </div>   <div id="Formation">
                    <h1>Formations</h1>
                    Pour les formations, ne <b>sont comptabilisés que celle que vous avez organisé vous-même à destination des militants et/ou salariés de la CSF et des AAFP/CSF</b> le cas échéant, que ce soit pour la tenue des permanences, les ateliers de consommation ou des actions particulières (contrôle des charges). <b>Les formations organisées dans le cadre ou sous l’égide du CTRC ne sont pas comptabilisés. De la même façon les formations suivi par des militants et/ou salariés mais organisées par d'autres (dont l’IFED) ne sont pas comptabilisées.</b> Les formations à destination des familles sont à faire apparaître dans la partie atelier de la consommation, éducation des consommateurs.<br> <br>
                    <b>Attention, merci de mettre sur la fiche de synthèse du rapport d'activité les thèmes détaillé des formations et le nombre de participants ; sans cela, la formation ne pourra pas être prise en compte.</b><br> <br>
                </div>   <div id="Communications">
                    <h1>Communications</h1>
                    <b>Tracts, journaux, CP </b><br>
                    Ne sont comptabilisés que les tracts, livré,… Créé par l’UD ou la section au nom de la CSF. La distribution de tracts rédigé par le confédéral n'est pas prise en compte. Les tracte rédigé en collaboration avec d'autres associations peuvent être comptabilisé si le nom de la CSF apparaît.
                    Les outils de communication, rédigé par la CSF pour le compte et au nom d'une autre association (UDAF,CISS, CTRC) ne sont pas comptabilisés.<br> <br>
                    Pour les articles, tous les articles de journaux parlant de la CSF (qu'il s'agisse d'interviews de responsables CSF locaux, de chroniques régulières ou de simples articles ponctuels faisant connaître une action CSF locale) sont comptabilisés.<br> <br>
                    <b>Attention, ils ne seront pris en compte que dans la mesure où les copies de ces articles seront envoyées à la Confédé avec la synthèse du rapport d'activités !</b> <br> <br>
                    Pour les communiqués de presse, ne sont comptabilisés que les CP rédigés par l’UD ou la section. Les CP confédéraux diffusés tel quel ne sont pas comptabilisés. Un CP rédigé à partir d’un CP confédéral et en reprenant une partie peut-être comptabilisé. <br> <br>
                    <b>Radio - Télé </b><br>
                    Sont comptabilisées les émissions où la CSF intervient en son nom propre : il peut s’agir des émissions Décodages, de chroniques régulières, d’interventions sur un plateau (physiquement ou par téléphone) pour un débat ou pour répondre aux auditeurs ou à une interview.
                    Ne sont pas comptabilisées les émissions faites au nom d’autres structures par un militant CSF (ex: UDAF, CTRC, CISS…).
                    Ne sont pas comptabilisées les interventions non sollicitées (appels des auditeurs). <br> <br>
                    <b>Forum </b><br>
                    Sont considérés comme participation à un forum la participation de la CSF au nom de la CSF à des événements publics ou à des réunions publiques organisés par d’autres structures (associations, collectivités,…). Ainsi peuvent être comptabilisées les participations aux forums des associations (avec information consommation sur le stand), tenue de temps dans des foires ou colloque/congrès, intervention au nom de la CSF dans des colloques ou réunions publiques organisés par d'autres structures (CTRC, UDAF, collectivités). <br> <br>
                    <b>Jeux/ Outils/ modules/ Supports d’animation </b><br>
                    Sont considérés comme jeux la création d'outils ludiques et pédagogiques sur un sujet consommation au sens large pouvant être réutilisés plusieurs fois. De même, des documents servant de supports dans les réunions (par exemple les modules de formation que vous auriez élaboré exprès) pour animer la réunion doivent apparaître dans cette partie de la fiche. Ne sont comptabilisés que les jeux ou documents d'animation élaborés au titre de la CSF et sur lesquels apparaît le logo de la CSF.<br> <br>
                    <b>Réunions publiques  </b><br>
                    Sont considérés comme réunion publique les réunions publiques organisé par la CSF au nom de la CSF sur un sujet consommation au sens large. Les réunions publiques co-organisées par la CSF peuvent être comptabilisées à partir du moment où le nom de la CSF apparait. Les réunions publiques organisées par la CSF au nom d’une autre structure (UDAF, CISS, CTRC) ne sont pas comptabilisées. <br> <br>
                    <b>Attention, merci d’indiquer les thèmes précis des réunions. </b> <br> <br>
                    <b>Conférence de presse </b><br>
                    Sont comptabilisées les conférences de presse organisées par la CSF au nom de la CSF et ayant fait l'objet d'un dossier de presse. La rédaction d'un dossier sur un sujet consommation au sens large et qui a fait l'objet d'un d'un envoi à la presse peut être comptabilisé comme conférence de presse. Attention, il ne sera pris en compte que si une copie du dossier de presse est envoyé à la Confédé. <br> <br>

                </div>   <div id="Ateliers">
                    <h1>Ateliers</h1>
                    <b>Préciser le nombre de participants ! C'est extrêmement important pour chiffrer le nombre de personnes touchés ; sans cela, l'atelier ne pourra pas être comptabilisé.</b> <br> <br>
                    Sont considérés comme ateliers de la consommation, les ateliers consistant à réunir des familles adhérentes sur un sujet consommation au sens large avec comme objectif de les former (à la différence des réunions publiques où l'objectif est d’informer). Ne sont comptabilisés que les ateliers organisés au titre de la CSF en tant que tel (pas UDAF, pas CTRC). Les interventions dans des établissements scolaires en font partie ainsi que des interventions dans d'autres structures réunissant des publics particuliers (publics fragiles,…). Les interventions dans des formations pour des professionnels (travailleurs sociaux, militants d'association de consommateurs, juriste,…) ne sont pas comptabilisés ainsi que les interventions de la CSF au nom d'autres structures (CTRC, UDAF, CISS). <br> <br>
                </div>   <div id="Representations">
                    <h1>Représentations</h1>
                    Pour les représentations, sont pris en compte la désignation où la présence de la CSF dans des représentations que l'on retrouve sur l'ensemble du territoire et au nom d'une association de consommateurs. Le nombre de réunions ne rentre pas en compte. <b>Les désignations au nom d'une autre structure (UDAF, CTRC, CISS) sont comptabilisées. Merci de toujours joindre un justificatif de ces représentations (feuille d'émargement…). Les représentations services publics ne donnent lieu à un financement que si la CSF a au moins participer à une réunion dans l'année.</b> <br> <br>
                </div>   <div id="ActionsEnJustice">
                    <h1>Actions En Justice</h1>
                    <b>Attention ; il faut différencier ce qui consiste juste à accompagner une famille ou un consommateur devant le juge (mais sans être parti en tant que CSF au litige) de ce qui est une réelle représentation conjointe où la CSF est parti à l'action judiciaire. Il convient maintenant de préciser dans ce paragraphe si il s'agit donc d'une action en justice au nom de la CSF ou du simple accompagnement d'un consommateur devant le tribunal (sans que la CSF ne sois parti à l'action)… </b>
                </div>
            </div>
            <div class="col-5"></div>
                <div class="col-7">
                    <br>
                <button class="btn is-round btn-lg bgbleu" id="btn_href"><a href="{{ path('home') }}" id="lien_href">retour au formulaire</a></button>
                </div>
            </div>
    </div>

{% endblock %}