{% extends 'base.html.twig' %}
{% block couleur %}
    bgbleu
{% endblock %}

{% block body %}
    <body>
    <section class="section">
        <div class="hero-body">
            <div class="container has-text-centered">


                    <div class="row">

                        <div class="column">{% if stop == 'pasStop'%}
                    <div class="box">
                        <h1 class="title txtbleu">Préambule</h1>
                        <div class="field">
                            <div class="control">
                              <div class="preambule"><p>À savoir avant de commencer ...</p></div>&nbsp;

                                <p> Comme chaque année, merci de préparer au préalable les pièces constituants votre dossier <b> 'Bilan des actions consommation'</b><br> dont vous avez reçu la liste.<br><br>
                                    <i class="fa-solid fa-exclamation"></i> Si votre structure n’a pas participé à certaine des rubriques, merci de le préciser en inscrivant le chiffre: “ 0 ”.<br><br>
                                    <i class="fa-solid fa-exclamation"></i> Des bulles d’ 'Aide' sont disponibles sur chaque page. Si celles-ci ne suffisent pas, consultez la rubrique <b>"FAQ"</b> en haut de l'écran.</p>&nbsp;
                            </div>
                        </div>
                        <script>
                            function myFunction() {
                                document.getElementById("demo").innerHTML = "Hello World";
                            }
                        </script>

                        <div class="field">
                            <button class="btn is-round btn-lg" id="btn_href"><a href="{{ path('formulaire_presentation') }}" id="lien_href">Commencer</a></button>
                            <style>#btn_href {background-color: #005AA1}</style><style>#lien_href {text-decoration: none; color: #FFFFFF}</style>

                            {% else %}
                            <div class="stop">Vous avez déjà rempli le bilan conso de votre {% if app.user.echelle.id == 1 %}section, merci!{% endif %}{% if app.user.echelle.id == 2 %}UD, merci!{% endif %}</div>
                                <p>Vous pouvez toujours modifier votre saisie dans votre espace UD. </p>
                            {% endif %}

                        </div>
                        </div>
                    </div>

                        {% if lieuxUser|length > 0 %}
                            <div class="column">
                            <div class="box" style="max-height: 66vh; overflow: scroll">
                                <h1 class="txtbleu title">Mes formulaires en cours</h1><br>
                            {% for lieu in lieuxUser %}
                                <a href="{{ path('formulaire_presentation',{'idLieu':lieu.id} ) }}">{{ lieu.nom }}</a><br>
                            {% endfor %}
                            </div>
                            </div>
                        {% endif %}

                    </div>

            </div>
        </div>
    </section>
    </body>

{% endblock %}