{% extends 'base.html.twig' %}
{% block couleur %}
    bgbleu
{% endblock %}

{% block body %}

    <section class="section">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <div class="box">
                            <h1 class="title txtbleu">Sécurisons ensemble votre compte !</h1>
                            <hr class="login-hr">
                            <div class="field">
                                <h2 class="subtitle">Un mot de passe fort doit au moins contenir :</h2>
                                <p>- une majuscule & une minuscule <br>- un chiffre & un symbole</p>
                                {{ form_start(form) }}
                                <p class="fs-5 txtorange">Nouveau mot de passe sécurisé :</p> {{ form_row(form.password.first) }}<br>
                                <p class="fs-5 txtorange ">Confirmer le mot de passe sécurisé :  {{ form_row(form.password.second) }}</p>
                                <button type="submit" class="btn bgbleu">Enregistrer</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}