body{
    font-family: 'Recursive', sans-serif;
    background: url("../img/fadedlogo.gif");
    background-repeat: no-repeat;
    background-size: 1300px 1150px;
}

#logo1{
    border-radius: 4px;
    margin: -5px;
    padding: 2px;
    width: 250px;
}

#miniaide_txt{
    font-weight: bold;
}